# ---- General ----
.DS_Store
node_modules/
dist/
.env
.env.*.local

# ---- IntelliJ IDEA ----
.idea/
*.iml

# ---- VS Code ----
.vscode/

# ---- Java / Spring Boot ----
/backend/target/
*.log

# ---- Angular ----
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# ---- OS-specific ----
Thumbs.db
ehthumbs.db
